In [9]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy
scipy.__version__
import scipy.stats as stats

In [16]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### X:연속형 / Y:연속형 : 주로 상관관계 확인
- correlation coefficient(상관계수)
    - -1 ~ 1 사이
    - 0에 가까우면 관계 없음, -1로 갈수록 반비례, 1로 갈수록 정비례

#### 선정 변수 : age, Mileage
- 분석 내용 : 나이에 따라서 마일리지 변화가 있을 것이다.
    - 귀무가설 : 나이에 따라서 마일리지 변화가 없다. 
    - 대립가설 : 나이에 따라서 마일리지 변화가 있다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 대립가설 참.
    - 사실 결론 : 나이에 따라서 마일리지가 올라간다.PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [17]:
# df_TOCC[['age', 'Mileage']].describe()
df_age_Mileage=df_TOCC[['age', 'Mileage']]
df_age_Mileage.head()

    age  Mileage
0  43.0   1862.0
1  62.0   2532.0
2  60.0   2363.0
3  60.0   2449.0
4  51.0   1942.0

In [19]:
df_age_Mileage.isnull().sum()

age        0
Mileage    0
dtype: int64

In [18]:
df_age_Mileage= df_age_Mileage.dropna().copy()

In [20]:
df_age_Mileage.corr()

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

In [21]:
stats.pearsonr(df_age_Mileage['age'], df_age_Mileage['Mileage'])

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [22]:
stats.pearsonr(df_age_Mileage['Mileage'], df_age_Mileage['age'])

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)