In [10]:
## https://github.com/yojulab/learn_data_analytics/wiki/10.3--CDA

### X:연속형 / Y:연속형 : 주로 상관관계 확인
- correlation coefficient(상관계수)
- -1 ~ 1 사이
- 0에 가까우면 관계 없음, -1로 갈수록 반비례, 1로 갈수록 정비례

#### 선정 변수 : age, Mileage
- 분석 내용 : 총 금액에 따라서 마일리지가 커질 것이다.
    - 귀무가설 : 총 금액에 커질수록 마일리지 높아진다. 
    - 대립가설 : 총 금액에 커질수록 마일리지 작아진다
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 귀무가설 참.
    - 사실 결론 : 총 금액에 따라서 마일리지가 높아지지 않는다.
    - PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy
scipy.__version__
import scipy.stats as stats

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

In [3]:
df_amount_Mileage = df_TOCC[['amount','Mileage']]
df_amount_Mileage

       amount  Mileage
0       96900   1862.0
1      102900   2532.0
2       96900   2363.0
3       66900   2449.0
4       66900   1942.0
...       ...      ...
51299   96900      NaN
51300   96900   1753.0
51301  120900   2217.0
51302   96900   2588.0
51303   96900   2130.0

[51304 rows x 2 columns]

In [4]:
df_amount_Mileage.isnull().sum()

amount         0
Mileage    10795
dtype: int64

In [5]:
df_amount_Mileage=df_amount_Mileage.dropna()

In [6]:
df_amount_Mileage.isnull().sum()

amount     0
Mileage    0
dtype: int64

In [7]:
df_amount_Mileage.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [9]:
stats.pearsonr(df_amount_Mileage['amount'], df_amount_Mileage['Mileage'])

PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)