In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')   #한글처리
import seaborn as sns
import pandas as pd

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### X : 범주형 , Y 범주형 : 주로 독립성 증명
- 선정 변수 : type_of_contract, cancellation
- 분석 내용 : 계약 유형에 따라 해약여부가 달라지는가?
    - 귀무가설 : 계약유형에 따라 해약여부가 달라지지 않는다.
    - 대립가설 : 계약유형에 따라 해약여부가 달라진다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 :
    - 사실 결론 :

In [12]:
df_TOCC[['type_of_contract','cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [14]:
df_TOCC_category = df_TOCC[['type_of_contract','cancellation']]

In [15]:
df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category,
                                       index='type_of_contract',
                                       )

C:\Users\04-04\AppData\Local\Temp\ipykernel_15896\3229823653.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category,

In [4]:
import scipy
scipy.__version__
import scipy.stats as stats

In [5]:
df_TOCC[['type_of_contract','cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [11]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True)

NameError: name 'df_TOCC_category_pivot' is not defined