In [1]:
# %conda install pymongo

In [2]:
import pymongo as mg
import pandas as pd

In [3]:
mg.__version__

'3.12.0'

In [4]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [5]:
database = client['study_data_analytics']

In [6]:
collection = database['collect_update']

In [10]:
cursor_date = collection.find({})

In [11]:
df_collect_update = pd.DataFrame(list(cursor_date))
df_collect_update[:2]

                        _id   name  age   city
0  650130d83314ff7b56dc5e06  Alice   25  Seoul
1  650130d83314ff7b56dc5e07    Bob   30  Busan

In [13]:
    from datetime import datetime
    df_collect_update['update'] = datetime.now()
    df_collect_update[:2]

                        _id   name  age   city                     update
0  650130d83314ff7b56dc5e06  Alice   25  Seoul 2023-09-13 13:04:22.086413
1  650130d83314ff7b56dc5e07    Bob   30  Busan 2023-09-13 13:04:22.086413

In [32]:
collection_new = database['collect_update_new']
dict_collect_update = df_collect_update.to_dict(orient='records')  
result =  collection_new.insert_many(dict_collect_update)  # 특정한 값 확인하기 위해

In [33]:
result.inserted_ids

[ObjectId('650130d83314ff7b56dc5e06'),
 ObjectId('650130d83314ff7b56dc5e07'),
 ObjectId('650130d83314ff7b56dc5e08'),
 ObjectId('6501314b08fe2a62ef762e1a'),
 ObjectId('6501314b08fe2a62ef762e1b'),
 ObjectId('6501314b08fe2a62ef762e1c')]