In [22]:
import pymongo as mg
import pandas as pd

In [23]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [24]:
database = client['db_medicals']

In [25]:
collection = database['RecurrenceOfSurgery']

In [26]:
cursor = collection.find({})
data_list =list(cursor)

In [27]:
df_ROS = pd.DataFrame(data_list)
df_ROS

,_id,,��자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,...,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,Unnamed: 0,환자ID
0,64d33844448fa65c7c38b50d,0.0,1PT,22.8,3,51.0,0.0,0,0,0,...,36.6,14.4,0,-1.01,2048.50,4,Down,0,NaN,NaN
1,64d33844448fa65c7c38b50e,1.0,2PT,44.9,4,26.0,0.0,0,0,0,...,7.2,17.8,0,-1.14,1753.10,4,Up,0,NaN,NaN
2,64d33844448fa65c7c38b50f,2.0,3PT,53.0,3,NaN,0.0,0,0,1,...,27.3,10.2,0,-1.77,1749.00,4,Down,0,NaN,NaN
3,64d33844448fa65c7c38b510,3.0,4PT,54.7,4,18.0,0.0,0,1,0,...,18.7,19.9,0,-1.58,1796.20,4,Down,0,NaN,NaN
4,64d33844448fa65c7c38b511,4.0,5PT,53.8,4,NaN,0.0,0,1,0,...,14.7,5.2,0,-0.79,2021.48,4,Up,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,64d33a65b7cc66a4405cbf09,NaN,NaN,44.0,1,NaN,0.0,0,0,0,...,23.0,21.8,0,NaN,2652.20,5,Middle,0,1889.0,1890PT
5678,64d33a65b7cc66a4405cbf0a,NaN,NaN,30.8,2,NaN,0.0,0,0,0,...,20.2,5.0,0,NaN,1795.80,4,Down,0,1890.0,1891PT
5679,64d33a65b7cc66a4405cbf0b,NaN,NaN,36.7,3,NaN,0.0,0,0,0,...,15.0,17.4,1,NaN,2624.40,4,Down,0,1891.0,1892PT
5680,64d33a65b7cc66a4405cbf0c,NaN,NaN,32.5,2,NaN,0.0,0,0,0,...,11.1,17.7,0,NaN,1972.50,5,Down,0,1892.0,1893PT
5681,64d33a65b7cc66a4405cbf0d,NaN,NaN,49.5,2,NaN,0.0,0,0,0,...,6.8,27.8,0,NaN,1574.40,5,Middle,0,1893.0,1894PT

In [28]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     5682 non-null   object
 1                           1894 non-null   float64
 2   ��자ID                   1894 non-null   object
 3   Large Lymphocyte        5682 non-null   float64
 4   Location of herniation  5682 non-null   int64
 5   ODI                     1386 non-null   float64
 6   가족력                     5529 non-null   float64
 7   간질성폐질환                  5682 non-null   int64
 8   고혈압여부                   5682 non-null   int64
 9   과거수술횟수                  5682 non-null   int64
 10  당뇨여부                    5682 non-null   int64
 11  말초동맥질환여부                5682 non-null   int64
 12  빈혈여부                    5682 non-null   int64
 13  성별                      5682 non-null   int64
 14  스테로이드치료                 5682 non-null   int64
 15  신부전여부                   5682 non-null   int64
 16  신장                      5682 non-null   int64
 17  심혈관질환                   5682 non-null   int64
 18  암발병여부                   5682 non-null   int64
 19  연령                      5682 non-null   int64
 20  우울증여부                   5682 non-null   int64
 21  입원기간                    5682 non-null   int64
 22  입원일자                    5682 non-null   int64
 23  종양진행여부                  5682 non-null   int64
 24  직업                      4437 non-null   object
 25  체중                      5682 non-null   float64
 26  퇴원일자                    5682 non-null   int64
 27  헤모글로빈수치                 5679 non-null   float64
 28  혈전합병증여부                 5682 non-null   int64
 29  환자통증정도                  5682 non-null   int64
 30  흡연여부                    5682 non-null   int64
 31  통증기간(월)                 5670 non-null   float64
 32  수술기법                    5439 non-null   object
 33  수술시간                    5520 non-null   float64
 34  수술실패여부                  5682 non-null   int64
 35  수술일자                    5682 non-null   int64
 36  재발여부                    5682 non-null   int64
 37  혈액형                     5682 non-null   object
 38  전방디스크높이(mm)             5682 non-null   float64
 39  후방디스크높이(mm)             5682 non-null   float64
 40  지방축적도                   5673 non-null   float64
 41  Instability             5682 non-null   int64
 42  MF + ES                 5682 non-null   float64
 43  Modic change            5682 non-null   int64
 44  PI                      5670 non-null   float64
 45  PT                      5670 non-null   float64
 46  Seg Angle(raw)          5679 non-null   float64
 47  Vaccum disc             5682 non-null   int64
 48  골밀도                     2994 non-null   float64
 49  디스크단면적                  5679 non-null   float64
 50  디스크위치                   5682 non-null   int64
 51  척추이동척도                  5682 non-null   object
 52  척추전방위증                  5682 non-null   int64
 53  Unnamed: 0              3788 non-null   float64
 54  환자ID                    3788 non-null   object
dtypes: float64(18), int64(30), object(7)
memory usage: 2.4+ MB

In [29]:
df_ROS.columns

Index(['_id', '', '��자ID', 'Large Lymphocyte', 'Location of herniation', 'ODI',
       '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부', '성별',
       '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증', 'Unnamed: 0', '환자ID'],
      dtype='object')

In [30]:
df_ROS.describe()

,,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추전방위증,Unnamed: 0
count,1894.000000,5682.000000,5682.000000,1386.000000,5529.000000,5682.000000,5682.000000,5682.000000,5682.000000,5682.000000,...,5682.000000,5670.000000,5670.000000,5679.000000,5682.000000,2994.000000,5679.000000,5682.000000,5682.000000,3788.000000
mean,946.500000,39.270750,2.295671,31.142857,0.049919,0.020063,0.130940,0.302534,0.062830,0.004224,...,0.247096,46.593651,16.329841,15.287934,0.056494,-1.507325,1989.788774,4.430834,0.032207,946.500000
std,546.895023,13.673467,0.995967,10.123986,0.217797,0.140229,0.337364,0.638348,0.242678,0.064860,...,0.661390,22.732200,8.419836,10.424561,0.230894,0.495701,314.423046,3.595047,0.176565,546.822812
min,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11.900000,-10.600000,-27.400000,0.000000,-2.840000,1145.800000,1.000000,0.000000,0.000000
25%,473.250000,30.700000,1.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,38.700000,10.500000,8.800000,0.000000,-1.820000,1777.000000,4.000000,0.000000,473.000000
50%,946.500000,40.200000,2.000000,31.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,45.100000,15.700000,14.500000,0.000000,-1.520000,1985.500000,4.000000,0.000000,946.500000
75%,1419.750000,48.600000,3.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,52.000000,21.400000,21.100000,0.000000,-1.200000,2178.500000,4.000000,0.000000,1420.000000
max,1893.000000,89.000000,5.000000,68.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,...,3.000000,559.000000,48.700000,165.000000,1.000000,1.700000,3214.200000,45.000000,1.000000,1893.000000

In [31]:
df_ROS.describe(include=object)  #범주형

                             _id ��자ID    직업  수술기법   혈액형  척추이동척도  환자ID
count                       5682  1894  4437  5439  5682    5682  3788
unique                      5682  1894    17     2     4       5  1894
top     64d33844448fa65c7c38b50d   1PT   사무직  TELD  RH+A  Middle   1PT
freq                           1     1  1347  5019  2064    3780     2

array([ 0.,  1., nan])